html,
body {
  position: relative;
  height: 100%;
}

.slow-animate {
  animation-duration: 5s;
}

/* 音乐旋转动画 */

@keyframes keeproute {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

/* 提示点击闪动 */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.car {
  position: fixed;
  left: 12%;
  top: 200px;
  z-index: 99;
  width: 120px;
  transform: rotateZ(90deg)
}

.music-icon {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  z-index: 99;
  background: url('../images/music_off.png');
  background-size: cover;
  &.run {
    background-image: url('../images/music_on.png') !important;
    animation: keeproute 5s linear infinite;
  }
}

.circle{
  display: none;
  animation: keeproute 2s linear infinite;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.body-container {
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.swiper-slide {
  position: relative;
  .swiper-slide-content {
    position: absolute;
    background-size: cover;
  }
}

.tip {
  display: none;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

.tip-icon {
  animation: fadein 2s linear infinite;
}

.part1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: white;
  background-image: url('../images/scene5.png');
}



.part2 {
  height: 100%;
}

.scene-content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/scene1.png');
  .hand_shake {
    animation-duration: 5s;
  }
}

.scene-content2 {
  background: url('../images/scene2.png');
  background-size: cover;
}

.scene-content3 {
  background: url('../images/scene3.png');
  background-size: cover;
}

.scene-content4 {
  background: url('../images/scene4.png');
  background-size: cover;
}

.scene-content5 {
  background: url('../images/scene5.png');
  background-size: cover;
}

.scene-content6 {
  background: url('../images/scene6.png');
  background-size: cover;
}

.scene-content7 {
  background: url('../images/scene7.png');
  background-size: cover;
}
