@charset "UTF-8";
html,
body {
  position: relative;
  height: 100%; }

/* 音乐旋转动画 */
@-webkit-keyframes keeproute {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes keeproute {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* 提示点闪动 */
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.car {
  position: fixed;
  left: 18%;
  top: 200px;
  z-index: 2;
  width: 120px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg); }

.music-icon {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  z-index: 2;
  background-image: url("../images/music_off.png");
  background-size: contain; }
  .music-icon.run {
    background-image: url("../images/music_on.png") !important;
    -webkit-animation: keeproute 5s linear infinite;
            animation: keeproute 5s linear infinite; }

.background, .part1 .part1-container, .swiper-slide .scene-content1, .swiper-slide .scene-content2, .swiper-slide .scene-content3, .swiper-slide .scene-content4, .swiper-slide .scene-content5, .swiper-slide .scene-content6 {
  background-size: cover !important;
  background-position: center !important; }

.part1 {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }
  .part1 .part1-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/part1.png"); }
    .part1 .part1-container .circle {
      display: none;
      -webkit-animation: keeproute 2s linear infinite;
              animation: keeproute 2s linear infinite; }

.part2 {
  height: 100%; }
  .part2 .swiper-container {
    width: 100%;
    height: 100%; }

.swiper-slide {
  position: relative; }
  .swiper-slide .swiper-slide-content {
    position: absolute;
    background-size: contain; }
    .swiper-slide .swiper-slide-content .tip-icon {
      width: 3%;
      -webkit-animation: fadein 2s linear infinite;
              animation: fadein 2s linear infinite; }
    .swiper-slide .swiper-slide-content .scene-content-dialog {
      display: none;
      position: absolute;
      left: 15%;
      top: 0;
      width: 25%; }
    .swiper-slide .swiper-slide-content .big-img-2 {
      position: absolute;
      left: -28%;
      bottom: 0;
      width: 50%; }
    .swiper-slide .swiper-slide-content .scene-content-name {
      position: absolute;
      right: 25%;
      top: 15%;
      width: 5%; }
  .swiper-slide .scene-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/scene1.png"); }
    .swiper-slide .scene-content1 .hand_shake {
      width: 8%;
      -webkit-animation-duration: 5s;
              animation-duration: 5s; }
    .swiper-slide .scene-content1 .shiku {
      position: absolute;
      left: 50%;
      bottom: 60%; }
  .swiper-slide .scene-content2 {
    background-image: url("../images/scene2.png"); }
    .swiper-slide .scene-content2 .xuankongshi {
      position: absolute;
      left: 50%;
      bottom: 60%; }
  .swiper-slide .scene-content3 {
    background-image: url("../images/scene3.png"); }
    .swiper-slide .scene-content3 .jiulongbi {
      position: absolute;
      left: 50%;
      bottom: 60%; }
    .swiper-slide .scene-content3 .scene-content-name {
      right: 8%;
      left: 4%; }
  .swiper-slide .scene-content4 {
    background-image: url("../images/scene4.png"); }
    .swiper-slide .scene-content4 .hengshan {
      position: absolute;
      left: 50%;
      bottom: 60%; }
    .swiper-slide .scene-content4 .scene-content-name {
      right: 10%; }
  .swiper-slide .scene-content5 {
    background-image: url("../images/scene5.png"); }
    .swiper-slide .scene-content5 .meishi {
      position: absolute;
      left: 50%;
      bottom: 60%; }
    .swiper-slide .scene-content5 .scene-content-name {
      right: 10%; }
  .swiper-slide .scene-content6 {
    background-image: url("../images/scene6.png"); }
    .swiper-slide .scene-content6 .gucheng {
      position: absolute;
      left: 50%;
      bottom: 60%; }
    .swiper-slide .scene-content6 .scene-content-name {
      right: 10%; }
