html,
body {
  position: relative;
  height: 100%;
}

@keyframes keeproute {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.music-icon {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  z-index: 99;
  background: url('../images/music_on.png');
  background-size: cover;
  animation: keeproute 5s linear infinite;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.body-container {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: url('../images/bg.png');
  background-size: cover;
}

.swiper-slide {
  position: relative;
}

.swiper-slide-content {
  position: absolute;
}

.tip {
  display: none;
}

.part1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.part2 {
  display: none;
  height: 100%;
}